<div *ngIf="users$ | async as users" class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{ col.name }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of users">
          <td *ngFor="let col of cols">
            {{ row[col.key] }}
          </td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['/users/edit', row.id]" class="btn btn-info">
                edit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
